body {
  font-family: 'Arial', sans-serif;
  background-color: #2f4f4f;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
}

.countdown-container {
  background-color: #00ffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

#countdown {
  font-size: 2em;
  margin-top: 20px;
}